{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'frontend/css/rating.css' %}">
{% endblock %}
{% block title%}Рейтинг{% endblock %}

{% block content%}
<main>
	<div class="wrapper-rating">
		<div class="overall-rating">
			<div class="top-rating">
				<div class="heading">
				{% if user.is_authenticated %}
					<a href="?type=global" class="{% if request.GET.type == 'global' %}active{% endif %}">Общий рейтинг</a>/ 
					<a href="?type=profile" class="{% if request.GET.type == 'profile' %}active{% endif %}">Рейтинг профиля</a>
				{% else %}
					<p class="heading-nonauth">Общий рейтинг</p>
				{% endif %}
				</div>
			<table>
				<tbody>
					{% for id, data in competitors_page_obj%}
					<tr class="competitor-row">
						<td>{{ start_position|add:forloop.counter }}</td>
						<td class="competitor-name" data-competitor-id="{{ data.id }}">{{ data.name }}</td>
						<td>{% if data.age %}{{ data.age }}{% else %}-{% endif %}</td>
						<td>{{ data.city }}</td>
						<td>{{ data.rating }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
				<!-- Пагинация -->
			<div class="pagination">
			{% if competitors_page_obj.has_previous %}
				<a href="?type={{ request.GET.type }}&page={{ competitors_page_obj.previous_page_number }}"><</a>
			{% endif %}
				{% if competitors_page_obj.number > 3 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
					<span>...</span>
				{% elif competitors_page_obj.number > 1 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
				{% endif %}
				<!-- Динамический диапазон страниц -->
				{% for num in competitors_paginator.page_range %}
						{% if num > competitors_page_obj.number|add:'-3' and num < competitors_page_obj.number|add:'3' %}
							{% if num == competitors_page_obj.number%}
								<span class="current"><strong>{{ num }}</strong></span> <!-- Текущая страница -->
							{% else %}
								{% if num != 1 %}
								<a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}

				<!-- Ссылка на последнюю страницу -->
				{% if competitors_page_obj.number < competitors_paginator.num_pages|add:'-2' %}
					<span>...</span>
					<a href="?type={{ request.GET.type }}&page={{ competitors_paginator.num_pages }}">{{ competitors_paginator.num_pages }}</a>
				{% elif competitors_page_obj.number|add:'2' < competitors_paginator.num_pages %}
					<a href="?type={{ request.GET.type }}&page={{ competitors_paginator.num_pages }}">{{ competitors_paginator.num_pages }}</a>
				{% endif %}

			{% if competitors_page_obj.has_next %}
				<a href="?type={{ request.GET.type }}&page={{ competitors_page_obj.next_page_number }}">></a>
			{% endif %}
			</div>

		</div>
		<div id="profile-detail">
			<div id="profile-photos"></div>
		</div>
	</div>
</main>
{% endblock%}
{% block scripts %}
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock %}