{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'frontend/css/rating.css' %}">
{% endblock %}
{% block title%}Рейтинг{% endblock %}

{% block content%}
<main>
	<div class="wrapper-rating">
		<div class="overall-rating">
			<div class="top-rating">
				<div class="heading">
				{% if user.is_authenticated %}
					<a href="?type=global">Общий рейтинг</a>/ <a href="?type=profile">Рейтинг профиля</a>
				{% else %}
					<p class="heading-nonauth">Общий рейтинг</p>
				{% endif %}
				</div>
			<table>
				<tbody>
					{% for competitor, rating in page_obj%}
					<tr class="competitor-row" data-competitor-id="{{ competitor.id }}">
						<td>{{ start_position|add:forloop.counter }}</td>
						<td class="competitor-name">{{ competitor.name }}</td>
						<td>{% if competitor.age %}{{ competitor.age }}{% else %}-{% endif %}</td>
						<td>{{ competitor.city.city_eng }}</td>
						<td>{{ rating }}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
				<!-- Пагинация -->
			<div class="pagination">
			{% if page_obj.has_previous %}
				<a href="?type={{ request.GET.type }}&page={{ page_obj.previous_page_number }}"><</a>
			{% endif %}
				{% if page_obj.number > 3 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
					<span>...</span>
				{% elif page_obj.number > 1 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
				{% endif %}
				<!-- Динамический диапазон страниц -->
				{% for num in paginator.page_range %}
						{% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
							{% if num == page_obj.number%}
								<span class="current"><strong>{{ num }}</strong></span> <!-- Текущая страница -->
							{% else %}
								{% if num != 1 %}
								<a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}

				<!-- Ссылка на последнюю страницу -->
				{% if page_obj.number < paginator.num_pages|add:'-2' %}
					<span>...</span>
					<a href="?type={{ request.GET.type }}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
				{% elif page_obj.number|add:'2' < paginator.num_pages %}
					<a href="?type={{ request.GET.type }}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
				{% endif %}

			{% if page_obj.has_next %}
				<a href="?type={{ request.GET.type }}&page={{ page_obj.next_page_number }}">></a>
			{% endif %}
			</div>

		</div>
		<div id="profile-detail">
			<div id="profile-photos"></div>
		</div>
	</div>
</main>
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock%}