div.wrapper {
	display: flex;
	margin-top: 50px;
}

div.slider {
	margin-left: 50px;
}

.slider-images {
	height: 600px;
	width: 475px;
}

.profile-info {
	margin-left: 100px;
	margin-top: 20px;
	max-width: 800px;
}

.profile-info table{
	border-collapse: collapse; /* Убирает промежутки между ячейками */
}
.profile-info td.key {
	padding: 0;
	margin: 0;
	font-size: 20pt;
	vertical-align: top;
}
.profile-info td.value {
	padding-left: 50px;
	width: 100%;
	font-size: 25pt;
	font-weight: bold;
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
}
.profile-info td.bio {
	font-size: 15pt;
	font-weight: normal;
}

.history-section {
	font-size: 15pt;
	font-weight: normal;
	margin-top: 5px;
}

span.winner a, span.winner {
	color: green;
}

span.loser a, span.loser {
	color: red;
}

span.bold a {
	color: black;
}
.paginator {
	margin-top: 15px;
}

.paginator a {
	color: black;
}