div.wrapper {
	display: flex;
	margin-top: 100px;
}

.bio-section {
	justify-content: center;
	flex-direction: column;
	width: 40%;
}

.history-section {
	width: 60%;
}

.history-section h1 {
	margin: 0;
	line-height: 1;
}
.history-block {
	margin-top: 25px;
}

.profile-info {
	text-align: center;
	font-size: 25pt;
}

.logout {
	margin-top: 10px;
	margin-bottom: 100px;

}

.logout button {
	width: 50%;
	background: #000cff; /* Градиент от светло-голубого к темно-голубому */
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	font-family: Consolas;
	cursor: pointer;
	text-align: center;
	margin: 0 auto; /* Обеспечивает горизонтальное центрирование блока */
	display: block; /* Делает кнопку блочным элементом */
	padding-top: 5px;
	padding-bottom: 5px;
}

.logout button:hover{
	color: #000cff;
	background-color: black;
}

.wrapper-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
	min-height: 50vh;
	flex-direction: column;
}

.form {
	width: 400px;
}
button {
	width: 100%;
	background: #000cff; /* Градиент от светло-голубого к темно-голубому */
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	font-family: Consolas;
	cursor: pointer;
	text-align: center;
	margin: 0 auto; /* Обеспечивает горизонтальное центрирование блока */
	display: block; /* Делает кнопку блочным элементом */
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

button:hover{
	color: #000cff;
	background-color: black;
}


label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	font-weight: bold;
}

input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #f5f5f5;
}

p.head {
	font-size: 25pt;
	margin-bottom: 15px;
	text-align: center;
}

a {
	color: black;
}

.errorlist {
	color: red;
	list-style-type: none;
}

span.winner a, span.winner {
	color: green;
}

span.loser a, span.loser {
	color: red;
}

span.bold {
	font-weight: bold;
}

.paginator {
	margin-top: 10px
}