.wrapper-create {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
}

.selected-section {
	width: 70%;
}
.settings-section {
	width: 30%;
	margin-left: 25px;
}
.checkbox-container {
	display: flex;
	flex-wrap: wrap; /* Позволяет переносить элементы на следующую строку */
	margin-top: 25px;
	gap: 10px; /* Добавляет промежуток между элементами */
}

.checkbox-item {
	font-size: 10pt;
}

.button button {
	width: 250px;
	background: #8800ff; /* Градиент от светло-голубого к темно-голубому */
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	font-family: Consolas;
	cursor: pointer;
	text-align: center;
	margin: 25px 0;
	display: block; /* Делает кнопку блочным элементом */
	padding-top: 5px;
	padding-bottom: 5px;
}

.button button:hover{
	color: #8800ff;
	background-color: black;
}