.wrapper-tournament-info {
	display: flex;
	margin-top: 50px;
	margin-left: 100px;
}

.table-info { 
	width: 430px;
}

.table-info table {
	margin-top: 23px;
	border-collapse: collapse; /* Убирает промежутки между ячейками */
	width: 100%; /* Таблица занимает всю ширину */
}

.table-info td, th {
	padding: 5px; /* Добавляет немного отступов */
	text-align: left; /* Выравнивает текст по левому краю */
	white-space: nowrap; /* Запрет на перенос текста */
	max-width: 500px; /* Ограничение ширины ячейки */
}
td.competitor-name {
	text-decoration: underline;
}

div.pagination {
	margin-top: 20px;
	text-align: center;
}
div.pagination a {
	color:black;
	font-weight: bold;
}

span.current { 
	color: #000cff;
}

#profile-detail {
	width: 60%;
	margin-left: 100px;
	display: flex;
}

.competitor-row {
	cursor: pointer; /* Указывает, что элемент кликабельный */
	transition: background-color 0.3s ease;
}


.slider {
	width: 100%;
	max-width: 600px;
	text-align: center;
}

.slider img {
	height: 600px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}

.slider-controls {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.slider-controls input {
	display: none;
}

.slider-controls label {
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.slider-controls input:checked + label {
	background-color: #000cff;
	box-shadow: 0 0 5px #000cff;
}

.slider {
	width: 60%;
}

.profile-info {
	width: 40%;
	margin-left: 50px;
	margin-top: 50px;
}

.profile-info table{
	border-collapse: collapse; /* Убирает промежутки между ячейками */
}
.profile-info td.key {
	padding: 0;
	margin: 0;
	font-size: 15pt;
	vertical-align: top;
}
.profile-info td.value {
	padding-left: 25px;
	width: 100%;
	font-size: 15pt;
	font-weight: bold;
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
}

.link-to-competitor {
	margin-top: 10px;
}

.link-to-competitor a {
	color: black;
}

.a-button {
	margin-top: 10px;
	display: flex; /* Используем Flexbox для центровки */
	justify-content: center; /* Центрирование по горизонтали */
	align-items: center; /* Центрирование по вертикали */
	width: 300px;
	height: 50px;
	margin: 20px auto;
	border-radius: 10px;
	background-color:#000cff;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}

.a-button a, a:visited{
	text-decoration: none;
	color: white;
}

.a-button:hover{
	background-color: black;
}

.a-button:hover a{
	color: #000cff;
}
