.wrapper-tournament-main {
	margin-top: 50px;
	margin-left: 100px;
}

.a-button {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex; /* Используем Flexbox для центровки */
	justify-content: center; /* Центрирование по горизонтали */
	align-items: center; /* Центрирование по вертикали */
	width: 300px;
	height: 50px;
	border-radius: 10px;
	background-color:#000cff;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}

.a-button a, a:visited{
	text-decoration: none;
	color: white;
}

.a-button:hover{
	background-color: black;
}

.a-button:hover a{
	color: #000cff;
}

.tournaments-list a {
	color: black;
}