.wrapper-tournament-main {
	margin-top: 50px;
	margin-left: 100px;
	display: flex;
}

.tournament-progress {
	display: flex;
	flex-direction: column;
}

.tournament-completed {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}


.header-tournament {
	margin-bottom: 23px;
}
.to-button {
	margin-bottom: 23px;
	margin-left: 50px;
}

.a-button {
	display: flex; /* Используем Flexbox для центровки */
	justify-content: center; /* Центрирование по горизонтали */
	align-items: center; /* Центрирование по вертикали */
	width: 300px;
	height: 50px;
	border-radius: 10px;
	background-color:#8800ff;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;

}

div.a-button a, a:visited{
	text-decoration: none;
	color: white;
}

div.a-button:hover{
	background-color: black;
}

div.a-button:hover a{
	color: #8800ff;
}

.tournaments-list a {
	color: black;
}


.tournament-completed a, a:visited{
	color: black;
}