{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/info.css' %}">
{% endblock %}
{% block title%}
Tournament Info Page
{% endblock %}


{% block content%}
<main>
	<div class="wrapper-tournament-info">
		<div class="list-info">
			<div class="tournament-competitors-info">
				<h1>Участники</h1>
			</div>
			<div class="table-info">
			<table>
				<thead>
					<tr>
						<th>Место</th>
						<th class="th-name">Имя</th>
						<th>Возраст</th>
						<th>Город</th>
						<th>Рейтинг</th>
						<th>Дельта</th>
					</tr>
				</thead>
				<tbody>
					{% for competitor, final_position in page_obj%}
					<tr class="competitor-row" >
						<td>{% if final_position %}{{ final_position }}{% endif %}</td>
						<td class="competitor-name" data-competitor-id="{{ competitor.id }}">{{ competitor.name }}</td>
						<td>{% if competitor.age %}{{ competitor.age }}{% else %}-{% endif %}</td>
						<td class="competitor-city">{{ competitor.city.city_eng }}</td>
						<td>{{ competitor.rating.rating }}</td>
						<td>{{ competitor.tournaments_participation.first.delta_tournament }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
				<!-- Пагинация -->
			<div class="pagination">
			{% if page_obj.has_previous %}
				<a href="?type={{ request.GET.type }}&page={{ page_obj.previous_page_number }}"><</a>
			{% endif %}
				{% if page_obj.number > 3 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
					<span>...</span>
				{% elif page_obj.number > 1 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
				{% endif %}
				<!-- Динамический диапазон страниц -->
				{% for num in paginator.page_range %}
						{% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
							{% if num == page_obj.number%}
								<span class="current"><strong>{{ num }}</strong></span> <!-- Текущая страница -->
							{% else %}
								{% if num != 1 %}
								<a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}

				<!-- Ссылка на последнюю страницу -->
				{% if page_obj.number < paginator.num_pages|add:'-2' %}
					<span>...</span>
					<a href="?type={{ request.GET.type }}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
				{% elif page_obj.number|add:'2' < paginator.num_pages %}
					<a href="?type={{ request.GET.type }}&page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
				{% endif %}

			{% if page_obj.has_next %}
				<a href="?type={{ request.GET.type }}&page={{ page_obj.next_page_number }}">></a>
			{% endif %}
			</div>
			{% if actual_round %}
				<div class="a-button">
					<a href='{% url 'tournament-matchup-actual' tournament_obj.id actual_round.round_number%}'>Перейти к матчапам</a>
				</div>
			{% endif %}
		</div>
		<div class="round-stage-info">
			<div class="round-stage-head">
				<h1>История раундов</h1>
			</div>
			<div class="round-section">
			{% for round in actual_rounds_status %}
				{% if forloop.last and not round.status == 'completed' %}
					<p><a href="{% url 'tournament-stage' tournament_obj.id round.round_number%}">Раунд {{round.round_number}} - текущий</a></p>
				{% else %}
					<p><a href="{% url 'tournament-stage' tournament_obj.id round.round_number%}">Раунд {{round.round_number}} - закончен</a></p>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div id="profile-detail">
			<div id="profile-photos"></div>
		</div>
	</div>
</main>
{% endblock %}
{% block scripts %}
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock %}