{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/info.css' %}">
{% endblock %}
{% block title%}
Tournament Info Page
{% endblock %}


{% block content%}
<main>
	<div class="wrapper-tournament-info">
		<div class="list-info">
			<div class="tournament-competitors-info">
				<h1>Участники</h1>
			</div>
			<div class="table-info">
			<table>
				<thead>
					<tr>
						<th>Место</th>
						<th class="th-name">Имя</th>
						<th>Возраст</th>
						<th>Город</th>
						<th>Рейтинг</th>
						<th>Дельта</th>
					</tr>
				</thead>
				<tbody>
					{% for competitor, competitor_data in competitors_page%}
					<tr class="competitor-row" >
						<td>{% if competitor_data.tournament_info.final_position %}{{ competitor_data.tournament_info.final_position }}{% endif %}</td>
						<td class="competitor-name" data-competitor-id="{{ competitor_data.competitor_info.id }}">{{ competitor_data.competitor_info.name }}</td>
						<td>{% if competitor_data.competitor_info.age %}{{ competitor_data.competitor_info.age }}{% else %}-{% endif %}</td>
						<td class="competitor-city">{{ competitor_data.competitor_info.city }}</td>
						<td>{{ competitor_data.competitor_info.rating }}</td>
						<td>{{ competitor_data.tournament_info.delta_tournament }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
				<!-- Пагинация -->
			<div class="pagination">
			{% if competitors_page.has_previous %}
				<a href="?type={{ request.GET.type }}&page={{ competitors_page.previous_page_number }}"><</a>
			{% endif %}
				{% if competitors_page.number > 3 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
					<span>...</span>
				{% elif competitors_page.number > 1 %}
					<a href="?type={{ request.GET.type }}&page=1">1</a>
				{% endif %}
				<!-- Динамический диапазон страниц -->
				{% for num in competitors_paginator.page_range %}
						{% if num > competitors_page.number|add:'-3' and num < competitors_page.number|add:'3' %}
							{% if num == competitors_page.number%}
								<span class="current"><strong>{{ num }}</strong></span> <!-- Текущая страница -->
							{% else %}
								{% if num != 1 %}
								<a href="?type={{ request.GET.type }}&page={{ num }}">{{ num }}</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}

				<!-- Ссылка на последнюю страницу -->
				{% if competitors_page.number < competitors_paginator.num_pages|add:'-2' %}
					<span>...</span>
					<a href="?type={{ request.GET.type }}&page={{ competitors_paginator.num_pages }}">{{ competitors_paginator.num_pages }}</a>
				{% elif competitors_page.number|add:'2' < competitors_paginator.num_pages %}
					<a href="?type={{ request.GET.type }}&page={{ competitors_paginator.num_pages }}">{{ competitors_paginator.num_pages }}</a>
				{% endif %}

			{% if competitors_page.has_next %}
				<a href="?type={{ request.GET.type }}&page={{ competitors_page.next_page_number }}">></a>
			{% endif %}
			</div>
			{% if data.tournament_info.actual_round_number %}
				<div class="a-button">
					<a href='{% url 'tournament-matchup-actual' data.tournament_info.id data.tournament_info.actual_round_number%}'>Перейти к матчапам</a>
				</div>
			{% endif %}
		</div>
		<div class="round-stage-info">
			<div class="round-stage-head">
				<h1>История раундов</h1>
			</div>
			<div class="round-section">
			{% for round_number, round_data in data.rounds_info.items %}
				{% if not round_data.status == 'not started' %}
					{% if not round_data.status == 'completed' %}
						<p><a href="{% url 'tournament-stage' data.tournament_info.id round_number%}">Раунд {{round_number}} - текущий</a></p>
					{% else %}
						<p><a href="{% url 'tournament-stage' data.tournament_info.id round_number%}">Раунд {{round_number}} - закончен</a></p>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div id="profile-detail">
			<div id="profile-photos"></div>
		</div>
	</div>
</main>
{% endblock %}
{% block scripts %}
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock %}