{% extends 'base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/stage.css' %}">
{% endblock %}
{% block title%}
Stage page
{% endblock %}


{% block content %}
<div class="wrapper-tournament-stage">
	<div class="stage-sidebar">
		
		<div class="table-info">
		<h1>Раунд номер {{stage_data.round_info.round_number}}</h1>
			<table>
				<tbody>
					{% for matchup, matchup_data in stage_data.matchups.items %}
					<tr class="competitor-row">
						<td><a class="matchup-link" href="{% url 'tournament-matchup' stage_data.tournament_info.id stage_data.round_info.round_number matchup %}">Матчап {{ matchup }} {{matchup_data.status}}</a></td>
						{% for competitor_number, competitor_data in matchup_data.competitors.items %}
						
							<td {% if competitor_data.round_info.result %}class="competitor-name matchup-winner"{% elif competitor_data.round_info.result == 0 %} class="competitor-name matchup-loser"{% else %}class="competitor-name"{% endif %} data-competitor-id="{{ competitor_data.competitor_info.id }}">
								{{ competitor_data.competitor_info.name }}
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<div class="click-button">
			<div class="a-button">
			{% if not stage_data.tournament_info.winner_id %}
				<a href="{% url 'tournament-matchup-actual' stage_data.tournament_info.id stage_data.round_info.round_number %}">Перейти к матчапу</a>
			{% else %}
				<a href="{% url 'tournament-info' stage_data.tournament_info.id%}">В меню турнира</a>
			{% endif %}
			</div>
		</div>
		

	
	</div>
	<div id="profile-detail">
		<div id="profile-photos"></div>
	</div>
</div> 
{% endblock %} 
{% block scripts %}
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock %}
