{% extends 'base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/stage.css' %}">
{% endblock %}
{% block title%}
Stage page
{% endblock %}


{% block content %}
<div class="wrapper-tournament-stage">
	<div class="stage-sidebar">
		<div class="table-info">
			<table>
				<tbody>
					{% for matchup, matchup_data in data.matchups.items %}
					<tr class="competitor-row">
						<td><a class="matchup-link" href="{% url 'tournament-matchup' data.tournament_info.tournament_id data.round_info.round_number matchup %}">Матчап {{ matchup }} {{matchup_data.status}}</a></td>
						{% for competitor_number, competitor_data in matchup_data.competitors.items %}
							<td {% if competitor_data.round_competitor_result %}class="competitor-name matchup-winner"{% elif competitor_data.round_competitor_result == 0 %} class="competitor-name matchup-loser"{% else %}class="competitor-name"{% endif %} data-competitor-id="{{ competitor_data.competitor_id }}">
								{{ competitor_data.name }}
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="click-button">
			<div class="a-button">
				<a href="{% url 'tournament-matchup-actual' data.tournament_info.tournament_id data.round_info.round_number %}">Перейти к матчапу {{ actual_round.round_number }}</a>
			</div>
		</div> 
	</div>
	<div id="profile-detail">
		<div id="profile-photos"></div>
	</div>
</div> 
{% endblock %} 
{% block scripts %}
<script> 
	const isAuth = {{ is_auth|yesno:"true,false" }}; 
</script>
<script src="{% static 'frontend/js/rating-competitor.js' %}" type="module" defer></script>
{% endblock %}
