{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/matchup.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/tournament_matchup.css' %}">
{% endblock %}
{% block title%}Facemash{% endblock %}


{% block content %}
<main>
	<div class="wrapper">
		<div class="tournament-matchup-info">
		<h1>{{matchup.matchup_number}} матчап</h1>
		</div>
		<div class="competitors-block">
		{% for competitor_key, competitor_data in data.items %}
			<div class="{% if forloop.first %}competitor-1{% endif %} competitor" id="{{ competitor_key }}", data-index="{{ forloop.counter }}">
				<div class="slider">
					<div class="slider-controls">
					</div>
					<div class="slider-images">
						{% for image in competitor_data.competitor.images.all %}
							{% if forloop.counter == competitor_data.forloop_index %}
								<a href="{% url 'competitor' competitor_data.competitor.id %}"><img id="current-image-{{forloop.counter}}" src="/" alt="Image"></a>
							{% endif %}
						{% endfor%}
					</div>
					<script id="image-data-slider-{{forloop.counter}}" type="application/json">
						{
							"images": {{ competitor_data.images }},
							"initial_index": {{ competitor_data.initial_index }}
						}
					</script>
				</div>
				<div class="bio">
					<p>{{ competitor_data.competitor.name}}{% if competitor_data.competitor.age %}, {{ competitor_data.competitor.age }}{% endif %}</p>
					<p class="competitor-rating">Rating: {{ competitor_data.rating }}</p>
				</div>
				<div class="button">
					<form method="post">
					{% csrf_token %}
						<input type="hidden" name="matchup_id" value="{{ matchup.id }}">
						<input type="hidden" name="winner_id" value="{{ competitor_data.competitor.id }}">
						<input type="hidden" id="image-index-slider-{{ forloop.counter}}" name="winner_image_index" value="{{competitor_data.initial_index}}">
						<input type="hidden" name="loser_ids" value="{% for c_key, c_data in data.items %}{% if competitor_data.competitor.id != c_data.competitor.id %}{{ c_data.competitor.id }},{% endif %}{% endfor %}">
						<button type="submit" class="winner-btn" data-form-id="{{ competitor_key }}">Выбрать</button>
					</form>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
{% block scripts%}
	<script src="{% static 'frontend/js/utils.js' %}" type="module" defer></script>
	<script src="{% static 'frontend/js/slider-utility.js' %}" type="module" defer></script>
	<script src="{% static 'frontend/js/slider.js' %}" type="module" defer></script>
{% endblock %}
