{% extends 'base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base_tournament.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/tournaments/winner.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/competitor.css' %}">
{% endblock %}
{% block title%}
Турниры
{% endblock %}

{% block content%}
<main>
	<div class="wrapper">
		<div class="tournament-winner-section">
			<div class="winner-heading">
				<h1>Выиграла турнир {{data_competitor.name}}!!!</h1>
			</div>
			<div class="click-button">
				<div class="a-button">
				<a href="{% url 'tournament-info' tournament_id %}">В меню турнира</a>
				</div>
			</div>
		</div>

		<div class="slider">
			<div class="slider-controls">
			</div>
			<div class="slider-images">
					<img id="current-image" src="/" alt="Image">
			</div>
		</div>
		<div class="profile-info">
			<table>
				<tbody>
					<tr>
						<td class="key">id</td>
						<td class="value">{{ data_competitor.id }}</td>
					</tr>
					{% if data_competitor.age%}
					<tr>
						<td class="key">Age</td>
						<td class="value">{{ data_competitor.age }}</td>
					</tr>
					{% endif %}
					<tr>
						<td class="key">City</td>
						<td class="value">{{ data_competitor.city }}</td>
					</tr>
					<tr>
						<td class="key">Rating</td>
						<td class="value">{{ data_competitor.rating }}</td>
					</tr>
					<tr>
						<td class="key">Bio</td>
						<td class="value bio">{{ data_competitor.bio }}</td>
					</tr>
				</tbody>
				</table>

	</div>
</main>
{% endblock%}
{% block scripts %}
<script id="image-data-slider-1" type="application/json">
	{
		"images" : {{ data_competitor.images }}
	}
</script>

<script src="{% static 'frontend/js/profile-slider.js' %}" type="module" defer></script>
{% endblock %}