{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'frontend/css/competitor.css' %}">
{% endblock %}
{% block title%} Profile {% endblock %}

{% block content%}
<main>
	<div class="wrapper">
		<div class="slider">
			<div class="slider-controls">
			</div>
			<div class="slider-images">
				
					<img id="current-image" src="/" alt="Image">

			</div>
		</div>

		<div class="profile-info">
			<table>
				<tbody>
					<tr>
						<td class="key">Name</td>
						<td class="value">{{ data.name }}</td>
					</tr>
					<tr>
						<td class="key">Age</td>
						<td class="value">{{ data.age }}</td>
					</tr>
					<tr>
						<td class="key">City</td>
						<td class="value">{{ data.city }}</td>
					</tr>
					<tr>
						<td class="key">Rating</td>
						<td class="value">{{ data.rating }}</td>
					</tr>
					<tr>
						<td class="key">Bio</td>
						<td class="value">{{ data.bio }}</td>
					</tr>
				</tbody>
				</table>

	</div>
</main>

<script id="image-data-slider-1" type="application/json">
    {
		"images" : {{ data.images }}
	}
</script>

<script src="{% static 'frontend/js/profile-slider.js' %}" type="module" defer></script>
{% endblock%}