{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">
{% endblock %}
{% block title%}Профиль{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="bio-section">
		<div class="profile-info">
			<p>Привет, {{user}}!</p>
			{% for group in user.groups.all %}
				<p>Твой статус: {{ group.name }}</p>
			{% endfor %}
		</div>
		<div class="logout">
			<form method="post" action="{% url 'logout' %}">
			{% csrf_token %}
				<button type="submit">Выйти из профиля</button>
		</form>
			</form>
		</div>
	</div>
	<div class="history-section">
	<h1>Здесь будет история твоих матчапов!</h1>
	</div>
</div>
{% endblock %}