{% extends 'base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">
{% endblock %}
{% block title%} Регистрация {% endblock%}

{% block content%}
<div class="wrapper-centered">
	<p class="head">Зарегистрироваться в Facemash</p>
	<div class="form">
		<form method="post">
			{% csrf_token %}
			<div class="label">
			<label for="id_username">Имя пользователя</label>
				{% if form.username.errors %}
					<ul class="errorlist">
						{% for error in form.username.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				{{ form.username }}
			</div>
			<div>
				<label for="id_password">Пароль</label>
				{% if form.password.errors %}
					<ul class="errorlist">
						{% for error in form.password.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				{{ form.password }}
			</div>
			<div>
				<label for="id_password_confirm">Подтвердите пароль</label>
				{% if form.confirm_password.errors %}
					<ul class="errorlist">
						{% for error in form.confirm_password.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				{{ form.confirm_password }}
			</div>
			<button type="submit">Зарегистрироваться</button>
		</form>
	
	</div>
</div>
{% endblock %}