* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Consolas;
}
div.logo {
	margin-left:50px;
}
img.img_logo {
	width: 45%;
}
header.header {
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	align-items: center; /* Центрирует по вертикали */
}

nav.navbar ul{
	display: flex;
	justify-content: space-between;
	list-style: none; /* Убирает маркеры списка */
}

nav.navbar li{
	margin-right: 25px;
}

nav.navbar a{
	font-size: 25pt;
	color: black;
	text-decoration: none; /* Подчеркивание */
}

nav.navbar a.active{
	font-size: 25pt;
	color: black;
	text-decoration: underline; /* Подчеркивание */
	text-decoration-color: #8800ff; /* Цвет подчеркивания */
	text-decoration-thickness: 5px; /* Толщина подчеркивания */
	text-underline-offset: 10px; /* Отступ подчеркивания от текста */
}