* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Consolas;
}

div.logo {
	margin-left:50px;
}

img.img_logo {
	width: 45%;
}

header.header {
	margin-top: 10px;
	display:flex;
	justify-content: space-between;
	align-items: center; /* Центрирует по вертикали */
}

nav.navbar ul{
	display: flex;
	justify-content: space-between;
	list-style: none; /* Убирает маркеры списка */
}

nav.navbar li{
	margin-right: 25px;
}

nav.navbar a{
	font-size: 25pt;
	color: black;
	text-decoration: none; /* Подчеркивание */
}

nav.navbar a.active{
	font-size: 25pt;
	color: black;
	text-decoration: underline; /* Подчеркивание */
	text-decoration-color: #000cff; /* Цвет подчеркивания */
	text-decoration-thickness: 5px; /* Толщина подчеркивания */
	text-underline-offset: 10px; /* Отступ подчеркивания от текста */
}

.slider-images {
	width: 380px;           /* Ширина квадратного канваса */
	height: 480px;          /* Высота квадратного канваса */
	background-color: white; /* Белый фон канваса */
	border: 6px solid black; /* Чёрная рамка */
	display: flex;          /* Включаем Flexbox */
	align-items: center;    /* Центрирование по вертикали */
	justify-content: center; /* Центрирование по горизонтали */
	box-sizing: border-box;
	overflow: hidden;
}

.slider-images img {
	width: auto;               /* Ширина автоматически подстраивается */
	height: 100.1%;              /* Заполнение по высоте */
	object-fit: contain;       /* Сохраняем пропорции с белыми полосами по ширине */
	object-position: center;   /* Центрируем изображение */
	display: block;            /* Убеждаемся, что изображение ведёт себя как блочный элемент */
}

.slider-controls {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.slider-controls input {
	display: none;
}

.slider-controls label {
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.slider-controls input:checked + label {
	background-color: #000cff;
	box-shadow: 0 0 5px #000cff;
}

.top-rating h1 {
	margin: 0;
	line-height: 1;
}

.top-rating table {
	margin-top: 23px;
	border-collapse: collapse;
	width: 100%;
}

.top-rating td, th {
	padding: 5px;
	text-align: left;
	white-space: nowrap;
	max-width: 500px;
}